[submodule "ThunderKittens-HIP"]
	path = ThunderKittens-HIP
	url = git@github.com:HazyResearch/ThunderKittens-HIP.git
[submodule "analysis/blackwell/cutlass"]
	path = analysis/blackwell/cutlass
	url = https://github.com/NVIDIA/cutlass.git
