[submodule "analysis/blackwell/cutlass"]
	path = analysis/blackwell/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "analysis/baselines/composable_kernel"]
	path = analysis/baselines/composable_kernel
	url = https://github.com/ROCm/composable_kernel.git
